<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geocoding</title>
  </head>
  <body>
    <form action="/" method="POST" accept-charset="uft-8">
      <input
        type="text"
        name="address"
        value=""
        palceholder="enter an Addres:"
      />
      <button type="submit">Find Coordinates</button>
    </form>
  </body>
</html>
